{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Post List" %}</h2>
{% if perms.posts.add_post %}
    <a href="{% url 'post_create' %}">Create New Post</a>
{% endif %}
<ul>
    {% for post in page_obj %}
    <li>
        {{ post.title }} - {{ post.created_at }}
        {% if post.image %}
            <br><img src="{{ post.image.url }}" alt="{{ post.title }}" width="150">
        {% endif %}
        {% if perms.posts.change_post %}
            <a href="{% url 'post_edit' post.id %}">Edit</a>
        {% endif %}
        {% if perms.posts.delete_post %}
            <a href="{% url 'post_delete' post.id %}">Delete</a>
        {% endif %}
    </li>
    {% empty %}
    <li>No posts found.</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1&q={{ request.GET.q }}">first</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">last</a>
        {% endif %}
    </span>
</div>
{% endblock %}